[2019-03-26 13:51] Jeehut opened #1 "Support specifying dependencies for Test targets"

[2019-03-26 13:52] Jeehut opened #2 "Separate cached frameworks by Swift tools version"

[2019-03-26 14:15] #2 closed, assigned to nobody

[2019-03-27 09:42] jjorn opened #3 "Project with mixed languages is not supported?"
It seems that the framework may not support a (Swift based) project containing one or more Obj-c files. All dependencies could be resolved but the dependency graph not.

Log:

`✨ Resolving dependencies ...`
`⏳ Executing 'swift package --package-path '/Users/.../Project-iOS' --build-path '/Users/.../Project-iOS/.accio' resolve'`
`✨ Reading package manifest at /Users/.../Project-iOS/Package.swift ..

[2019-03-27 09:48] Jeehut commented on #3
Thanks for reporting the issue @jjorn!

Yes, that's right. Since Accio uses `SwiftPM` as its core (e.g. for dependency resolution) it also shares some of its pitfalls (while others may be worked around within Accio). But this is a known restriction, the `path` parameter of the iOS project needs to only contain Swift files.

This was already documented in the [Initialization section](https://github

[2019-03-27 11:34] jjorn commented on #3
@Dschee Sorry my bad. I should read it carefully. By the way, thank for the quick reply.

[2019-03-27 18:27] fredpi opened #5 "Support prebuilt binaries"
There should be support to include prebuilt binaries. While the actual implementation will probably be quite straightforward, it is unclear how those binaries should best be specified in the `Package.swift`.

[2019-03-28 08:51] fredpi opened #6 "Don't copy into local cache if shared cache is available"

[2019-03-28 12:17] #3 closed, assigned to nobody

[2019-03-29 10:04] #1 closed, assigned to nobody

[2019-03-29 10:29] fredpi commented on #6
Closed via #4.

[2019-03-29 10:29] #6 closed, assigned to nobody

[2019-04-03 11:16] Jeehut opened #12 "error: repository 'dependency' has uncommited changes"
Sometimes errors like this appear when running `accio update`:

[code]

Running `accio clean` before running `accio update` solves the issue, but Accio should handle the issue in the first place instead of requiring this workaround.

[2019-04-03 12:39] alphatroya opened #13 "Output files in copy-framework accio phase"
[Carthage instruction](https://github.com/Carthage/Carthage#getting-started) suggest specifying an output files parameter to optimise "dirty" build timing.

But Accio look like skip this recommendation, is this an intended behaviour?

[2019-04-04 08:31] Jeehut commented on #13
No, it's not intended to ignore this, we just got used to the way of using Carthage before this feature was introduced and since it's not required, we never got used to it. But it definitely makes sense to add it to Accio if there are no risks for side effects and the build time is optimized. Thanks for the suggestion! I will have a look into this shortly.

[2019-04-04 08:53] Jeehut commented on #5
I agree that this is probably easy to add feature wise within Accio (it's just downloading a file) – but I'm not sure how we could make sure this adheres to the goal of Accio of working towards SwiftPM since I don't see any binary download feature in SwiftPM. I think what we should do is to pitch the idea of specifying binary URLs within the package manifest on Swift Evolution and see what the gen

[2019-04-04 09:18] Jeehut opened #14 "Provide a Global Cache for popular Frameworks"
While there's already a local and a shared cache option available, both of these are not particularly useful when installing dependencies (the first time) on a CI. CI build times can be very long (especially on first run) for dependencies. While some might opt to configure their shared cache on the CI as well, this can be a hassle dependending on the service used for the shared cache.

A global ca

[2019-04-04 16:45] Jeehut opened #15 "Add Accio to Homebrew Core"
Now that Accio has passed the 50 stars, before everyone gets used to installing Accio via its Tap too much, we should try adding it to Homebrew Core. That also seems reasonable now given that Accio has stabilized a lot lately.

[2019-04-05 08:25] Jeehut opened #16 "Add command to test support of frameworks"
Some frameworks might want to test their Accio support on a CI. As of now, there is no command to test if a framework itself is Accio compatible, the only solution is a workaround where one would need to create a Package.swift file which includes the framework to be tested. This is no good solution for a CI, therefore Accio should provide an internal way of testing Accio installation of a framewor

[2019-04-05 08:41] fredpi commented on #5
@Dschee Thanks for your suggestions.

I think we should do both things: Pitch on Swift Evolution for Swift PM to support binaries and in the meantime also implement parsing for commented binary specifications.

However, it is unclear how to proceed, if binary specifications won't be accepted for Swift PM... Generally speaking, there are a couple of things that could improve Accio, if it wouldn't b

[2019-04-05 09:22] Jeehut commented on #5
Using SwiftPM as much as possible is part of this projects goals.

I don't think we should reimplement dependency graph resolution or manifest parsing. They are already implemented in SwiftPM and if the community decided that conflicting version requirements should exist, than there probably is a good reason behind that. Also note that it is currently already possible to allow different versions o

[2019-04-05 14:05] #12 closed, assigned to nobody

[2019-04-05 14:21] #13 closed, assigned to nobody

[2019-04-07 18:16] MaxDesiatov opened #17 "Clarification on Carthage requirement?"
HI @Dschee, thank you for this great project!

I'm a bit confused by Carthage being a requirement stated in README. As far as I understand, SwiftPM is used for dependency resolution, but most of the explanation in README focused on comparing Accio to Carthage. My understanding was that Accio is able to replace Carthage fully in a given project?

Hope this can be clarified, I'd be happy to submit a

[2019-04-08 08:03] Jeehut opened #18 "Drop Carthage requirement by replicating the `build` command"
As a consequence of #17 it could make sense to integrate the used parts of Carthage right into Accio to prevent having Carthage as a dependency. This could also fix any issues that might arise in the future due to any changes in Carthage or people using Accio with an old version of Carthage. Also, we could fix any issues within the build command faster than Carthage does if such a situation arises

[2019-04-08 08:04] Jeehut commented on #17
Hi @MaxDesiatov,

as mentioned in the README in the [Adding Dependencies](https://github.com/JamitLabs/Accio#adding-dependencies) section in point 1, Accio uses Carthage's `build` command to make sure we have wide compatibility today.

The alternative would have been to use `xcodebuild` directly and in the middle term that might be added and tested out and once it's proved to work well in many pro

[2019-04-08 13:25] tonyarnold opened #19 "Be excellent to each other"
I found the rambling hit piece on the maintainers of Carthage in your read me to be pretty confronting.

I believe you're doing your own OSS project & contributions a disservice by dunking on other unpaid OSS maintainers.

Your justification for building this tool stands up without needing to take a swipe at Carthage's maintainers — I'd urge you to think about rewording your readme to make it abou

[2019-04-08 14:00] Jeehut commented on #19
@tonyarnold Thank you for opening that topic. You're right, of course. I knew there was a big risk for me of being negative when writing that section. I even tried being as objective as it was possible for me to not go to a personal level. But if you say that it is too confronting, you must be right.

Since I'm still pretty biased though (I don't think I will ever forget how frustrating the discus

[2019-04-08 14:23] Jeehut opened #21 "dyld: Symbol not found: _$s11ReactiveKit7NoErrorON"
For some frameworks with subdependencies like Bond, when running the app in the Demo project, the simulator fails with the following error:

[code]

This also happens when Moya and a different version of Alamofire are specified with Moya stating that it couldn't find Alamofire. The supposedly missing frameworks are actually existent though. So this might only be a linking issue within the framewor

[2019-04-08 16:33] srdanrasic commented on #19
The negativity about Carthage left a bad first impression on me.

Carthage has issues and we may not like how it’s maintained, but it has been a valuable tool in the community and our lives be so much harder without it than they are with its flaws.

I’m looking forward to a more positive readme.

[2019-04-08 17:06] srdanrasic commented on #21
`NoError` has been deprecated recently since ReactiveKit 3.10. I’ve seen something similar once when a framework would be built against version A of another framework and then linked with version B of the same framework.

[2019-04-09 08:29] Jeehut commented on #19
I just merged #20 and hope this issue is fixed now. Sorry for being negative in the first place.
Please also note that I don't hate Carthage at all, as I hope I already expressed in [this comment](https://github.com/Carthage/Carthage/pull/1990#issuecomment-479442640).

[2019-04-09 08:29] #19 closed, assigned to nobody

[2019-04-09 09:04] Jeehut commented on #21
Sorry, I'm not sure if I understand this, I'm understanding the following, correct me if I'm wrong:

1. ReactiveKit won't have `NoError` in future releases, so pointing to the `master` branch might fix this
2. Check if ReactiveKit is linked directly and as a dependency with different versions, that might fix it

Please note that currently ReactiveKit is only linked in one place, being as a depende

[2019-04-09 11:05] srdanrasic commented on #21
In v3.9 and earlier, we had `enum NoError {}`. Now in v3.10 that's replaced with `@deprecated typealias NoError = Swift.Never`. So, nothing is broken and pointing to another branch won't fix the issue you have.

I just wanted to give you a possible direction to look at while trying to figure out the problem which is contained in the second sentence:

[2019-04-09 16:30] Jeehut commented on #17
Since I got an upvote from @MaxDesiatov without further questions, I consider this question answered. So I'm closing this issue.

[2019-04-09 16:30] #17 closed, assigned to nobody

[2019-04-13 17:20] khoogheem opened #22 "Build error: 'Type' is only available on iOS 10.0 or newer"
when trying to do an install/update I am running into an error which comes up in the build logs.

```error: 'StringMeasurement' is only available on iOS 10.0 or newer``
the Project was set to 10.0 as minimum and even if I set it to 11 it still fails with these errors in the log file.

[2019-04-13 19:16] Jeehut commented on #22
Hey @khoogheem, thank you for reporting this. Could you please post your full `Package.swift` file contents? This sounds like you're trying to build a framework which uses iOS 10.0 APIs but didn't have the deployment target set to iOS 10 properly. Could you please also copy more of the output here? Especially it's interesting to know, which framework Accio was trying to build when this error appea

[2019-04-13 19:23] khoogheem commented on #22
Here is the projects Package
[code]
It will choke trying to get: ```https://github.com/FitnessKit/FitnessUnits``` which is a dependent of the Bluetooth and Fit packages...

Both the the packages inside of FitnessKit are still 4.X so they don't have the platforms defined

[2019-04-13 19:59] Jeehut commented on #22
Okay, there you have it:

FitnessUnits `.podspec` file [makes it clear](https://github.com/FitnessKit/FitnessUnits/blob/master/FitnessUnits.podspec#L25) that iOS 10 is the minimum required target.
But FitnessUnits `Package.swift` file doesn't state that fact. Note that specifying minimum required versions are only possible starting with Swift 5, it was introduced just recently with [SE-236](https:

[2019-04-13 20:01] khoogheem commented on #22
ok... it was unclear that the commented out line actually would work...
still in the process of moving things over to swift5

[2019-04-13 20:01] #22 closed, assigned to nobody

[2019-04-13 20:03] Jeehut commented on #21
I investigated this and it turned out that the issue was that Bond had linked its subdependencies via submodules with depending projects. See my comment [here](https://github.com/DeclarativeHub/Bond/pull/621#issuecomment-482128433) for further details (including the fix).

In any case this isn't a bug within Accio. How this could be prevented in the future – if at all possible – isn't clear to me.

[2019-04-13 20:03] #21 closed, assigned to nobody

[2019-04-13 20:05] Jeehut commented on #22
You mean, even after reading the docs it was unclear? Do you have a suggestion on how we could make it clearer? Feel free to post a PR with the text change. Also good luck with the move to Swift 5! :)

[2019-04-14 18:15] khoogheem commented on #22
ok.. not sure If I still have something screwed up.. but two of my packages bring in this package `https://github.com/FitnessKit/DataDecoder` which I have set to iOS 10..  but it complains that it was built for 12.2

[2019-04-15 18:21] Jeehut commented on #22
Again, please provide full output of both your manifest file and output. This sounds like the project already has a Xcode project file with a shared scheme whose target is set to 12.2.

Accio only uses the „platforms“ specified in the manifest if it needs to generate the Xcode project using SwiftPM for non-Carthage compatible frameworks. But if a framework has an Xcode project with a shared scheme

[2019-04-15 18:23] khoogheem commented on #22
ok... I know where the problem is then thanks again

[2019-04-15 18:24] Jeehut commented on #22
Sure, glad I could help.

[2019-04-17 12:56] Jeehut opened #23 "Improve init command to detect test targets as such"
Currently, when I run something like this:

[code]

Accio will create a `Package.swift` manifest file with to `.target`s, but what I actually expect is that it automatically detects that the second target actually is of `.testTarget` type and automatically initializes it like that.

[2019-04-17 13:06] Jeehut opened #24 "Improve init command to fill empty Package.swift file"
In some situations, users might create an empty `Package.swift` file and run the `init` command afterwards. Accio might want to add a check if the `Package.swift` file is empty and if it is, it could still fill it with the skeleton contents to provide a place to start. Currently, just nothing happens in such cases.

[2019-04-18 05:54] insightmind opened #25 "Add ability to disallow adding accio script to targets"
The Accio script causes several "not permitted" and "directory not found" issues when building a project with extensions, e.g. NotificationContentExtensions.

When adding extensions to an Xcode project Xcode creates a new target for each extension. In some cases, we need to access some functionality of the app, e.g. accessing a Realm Database within a Notification Extension requires to include the

[2019-04-18 07:06] Jeehut commented on #25
@insightmind Thank you for reporting the issue. One question: If we could automatically detect if a target is an extension and don‘t create the script there, would that also fix the issue or would there still be situations where such an option would still be useful?

Having no option but everything still working correctly would be my preferred way to go, unless there‘s evidence that we probably wo

[2019-04-18 08:12] insightmind commented on #25
# Using `WRAPPER_EXTENSION`
![Screen Shot 2019-04-18 at 9 49 02 AM](https://user-images.githubusercontent.com/24965150/56345103-3f4a6a00-61bf-11e9-9fb3-4132a1c94e1d.png)

There is a property defined in the Build Settings called` WRAPPER_EXTENSION`, which defines the type of the target, e.g for an `app`, for a TestTarget `xctest` (#23), or for an AppExtension: `appex`.

Documentation:

However, the

[2019-04-18 13:56] jjorn opened #26 "Test target name conflict"
We have a test target i.e. named "Tests" in our project und define it like this:

[code]

Then we import a framework via Accio. This framework contains a test target with the same name as we do:

[code]

As a result, Accio does not work anymore:

[code]

[2019-04-18 14:09] Jeehut commented on #26
That's actually an issue with SwiftPM and the related discussion can be found here:
https://forums.swift.org/t/multiple-target-issue-with-spm/16696

I asked for further information there ...

[2019-04-18 14:12] Jeehut commented on #25
@insightmind Thank you for the detailed investigation. I'm clearly voting for going with the first approach and will implement it alongside the fix for #23. Even when Apple had the possible values documented, this still wouldn't mean they could never change in future versions. But I don't think they will change often and if they do, we will recognize that pretty quickly and can fix it easily.

[2019-04-19 08:10] Jeehut commented on #26
Okay, this issue was clarified now on the thread:

* Once [SE-226](https://github.com/apple/swift-evolution/blob/master/proposals/0226-package-manager-target-based-dep-resolution.md) is implemented in SwiftPM, this issue will be resolved.
* You can track progress of its implementation in [SR-8658](https://bugs.swift.org/browse/SR-8658).

As far as I can see, this issue would even arise if we tried

[2019-04-19 08:13] Jeehut commented on #26
Ah, I think we could provide a link to this thread when someone comes across this issue like we did for #3. I'm reopnening this until such an output is implemented.

[2019-04-19 17:01] #26 closed, assigned to nobody

[2019-04-19 17:01] #23 closed, assigned to nobody

[2019-04-19 17:01] #24 closed, assigned to nobody

[2019-04-19 17:05] Jeehut commented on #25
This was implemented in bf0dfaaac5e7425ca41a6bbe07571e46b52cf638.

[2019-04-19 17:05] #25 closed, assigned to nobody

[2019-04-20 13:25] fredpi opened #27 "Error reverting changes in the checkouts directory"
In my current configuration (with only 1 package), I somehow managed to break the `✨  Reverting any changes in the checkouts directory ...` step. The following problem occurs: `An error occurred: Command '/bin/bash -c "git -C '/[MyProjectPath]/.accio/checkouts/PMJSON' reset HEAD --hard --quiet 2> /dev/null"' returned with error code 128.`

When I copy this repo to another folder and run the failin

[2019-04-20 14:16] Jeehut opened #28 "Support modularization within app project"
Currently, Accio supports modularization of frameworks and using those in App projects. But sometimes one might want to modularize the app itself into several parts, for example consider this:

[code]

When we run `accio update` today with such a setup, we get this error output:

[code]

[2019-04-20 19:33] Jeehut commented on #28
Okay, after thinking about it a second time, I came to the conclusion that solving such situations by providing a local library is far too complicated and would result in too many issues. The much easier and less error prone fix for such situations is to add any helper modules to the "Target Dependencies" of the app target within Xcode without using Accio. Then, in the `Package.swift` file, make s

[2019-04-20 19:33] #28 closed, assigned to nobody

[2019-04-22 10:18] Jeehut opened #29 "Linking problems with apps split into modules"
When an app has multiple targets with the same platform, e.g. an „App“ target an an „AppKit“ target and both include the same framework, then Accio currently adds only a single framework to the group properly. It seems to try to add a second link, too, but fails - Xcode is placing the second under „Reconstructed Links“ (or similar).

A workaround is to link the frameworks manually, Accio correctly

[2019-04-22 10:20] Jeehut opened #30 "Framework targets have Carthage copy script"
I‘m not sure if this is a problem at all, but currently when an app has the targets, say „App“ and „AppKit“ where AppKit is a framework used within the app, then the Carthage copy build script is added to the framework target, too.

This might be correct behavior after all, but I feel like I already ran into double linking problems during App store upload in such cases. This should be double check

[2019-04-23 16:46] Jeehut opened #31 "Test Coverage: Migrate some open source Apps to Accio"
Currently, only a few project structures and sets of dependencies are tested with Accio. While most should be usable as is, it would make sense to migrate several open source iOS apps from Carthage to Accio to find edge cases (or confirm there are none). [Here](https://github.com/dkhamsing/open-source-ios-apps)'s a repo with many such projects.

Bigger and wider known app projects could be started

[2019-04-24 04:19] Jeehut commented on #27
I saw this issue once, too in an app project. So it's definitely happening often enough, that I will have a detailed look once I come across it again. Unfortunately I didn't have much time when it happened to I worked around it by running `accio clean` once and `accio update` after that. Then everything worked without issues.

I will also checkout your example ZIP file and try to reproduce this on

[2019-04-24 04:37] Jeehut opened #32 "New Option: Use SwiftPM for building when possible"
Currently this projects uses Carthage for building frameworks. While this especiallly is a great solution for frameworks specifically written for iOS etc. (#18 being an improvement which drops the Carthage requirement), some libraries were written for SwiftPM usage only and might not integrate well with the current approach in Accio.

For example, when I tried adding [NIOTransportServices](https:/

[2019-04-24 07:23] mrylmz commented on #29
Are the targets using the same version of the Dependency?

If both are requiring the same Dependency and you link that dependency with your target once then there shouldn't be any issues building.

Could you please provide further informations like logs.

[2019-04-24 07:27] mrylmz commented on #16
I would suggest to add a new `accio doctor` command which scans the current project directory for possible issues like missing support and outputs helpful informations on how to solve the issue or suggest a auto-fixit if possible.

[2019-04-24 07:37] Jeehut commented on #16
@mrylmz Great idea! But please open a new issue for that and list the different errors you would want to help out with initially. It should be developed separately from this.

[2019-04-24 07:39] Jeehut commented on #29
@mrylmz I think you didn‘t quite understand the issue. Just add a second iOS target to the demo project and link Moya against both, then run accio update. You‘ll see what I mean then.

[2019-04-24 10:56] Jeehut commented on #29
@mrylmz See also https://github.com/JamitLabs/Accio/issues/28, where you can find an example package manifest.

[2019-04-24 19:56] retsohuang opened #33 "How can I integrate project that contains static binary?"
Hi there, first of all, big thanks for your hard work 👍

I've got a question that I'm trying to make [this project](https://github.com/retsohuang/OpenSSL) support Accio but shows contains invalid source files.

Any suggestions?

[2019-04-25 08:07] Jeehut commented on #33
Can you please copy the full output here? What version of Accio are you using?

[2019-04-25 08:39] Jeehut commented on #33
Okay, I just tried to install it myself and here's the output:

[code]

Seems like the `path` it missing.

[2019-04-25 09:14] retsohuang commented on #33
I added the `path` property and here's the output:
[code]
Accio Version: 0.6.0

[2019-04-25 13:10] Jeehut commented on #33
@retsohuang Thanks for the feedback. It looks like this is an issue with SwiftPM, see [this thread](https://forums.swift.org/t/is-swiftpm-support-c-language-link-custom-build-static-library-inside-targets/21614) on the Swift Forums or [that bug report](https://bugs.swift.org/browse/SR-8024?page=com.atlassian.jira.plugin.system.issuetabpanels%3Achangehistory-tabpanel) on Swift JIRA. According to th

[2019-04-25 13:58] Jeehut commented on #16
As for the naming of this feature, I suggest the following:
- `accio supports ios` to check if the current framework supports building for iOS
- `accio supports ios,tvos` to check if the current framework supports building for iOS & tvOS
- `accio supports` which does exactly the same like `accio supports iOS,tvOS,macOS,watchOS`

[2019-04-25 14:00] #29 closed, assigned to nobody

[2019-04-25 21:02] samisuteria opened #35 "Trouble adding XcodeProj to macOS app"
I'm having trouble adding [XcodeProj](https://github.com/tuist/xcodeproj) to a new project built with Accio. The problem seems to be with PathKit.

[code]

[2019-04-26 04:41] Jeehut commented on #35
@samisuteria Thank you for reporting this issue. Could you please provide information about:

- What version of Accio you're using
- What your `Package.swift` looks like (especially which version of `XcodeProj` you specified)

Also, can you reproduce the error after updating Accio and running `accio clean` first before running `accio update`?

[2019-04-26 05:17] samisuteria commented on #35
I'm using Accio v0.6.0 and Carthage 0.33.0. For XcodeProj I've tried with both master and latest (6.7.0). In Xcode I just made a brand new project macOS -> Cocoa App. I've been able to successfully use Accio with other packages (Quick/Nimble/SnapKit).

[code]

[code]

Logs:
[code]

[2019-04-26 05:19] samisuteria commented on #35
I was able to reproduce after running `accio clean` `accio update`

[2019-04-26 05:20] Jeehut commented on #35
Okay, thanks, I'll have a look.

[2019-04-26 05:38] Jeehut commented on #35
Okay, I've found the issue and fixed it in 779e3fc449863c88e32a90cfcf340d535829bedb.
Let me prepare a new release with the fix so you can continue resolving your dependencies.

Please note that the fix does not mean that XcodeProj is already fully compatible with Accio. There might still some work needed to be done. But it's probably not an issue with Accio then but rather a configuration issue. I

[2019-04-26 05:42] #35 closed, assigned to nobody

[2019-04-26 05:53] samisuteria commented on #35
Thanks for the quick turn around 💯

[2019-04-26 06:04] Jeehut commented on #35
[Version 0.6.1](https://github.com/JamitLabs/Accio/releases/tag/0.6.1) was just released. Please run `brew upgrade accio` to get it, then try again. Good luck!

[2019-04-26 09:21] steven-joruk opened #37 "Unable to build a command line target"
Accio 0.6 and Xcode 10.2.1 on macOS 10.14.4

Hi, this may just be user error, I've only just started trying to use Accio and don't have much experience with SPM/Carthage.

I want to add SwiftyJSON to a command line target for macOS, and have it be self-contained, so I expect the right approach is for the framework to be embedded like this https://iosdevcenters.blogspot.com/2015/12/realm-error-dyld

[2019-04-26 09:38] Jeehut commented on #37
Yes, this sounds like a misunderstanding. When your goal is to write a command line tool, there‘s no reason to use Accio. You can use SwiftPM directly for that.

In fact, Accio itself **is** a command line tool which uses SwiftPM to include dependencies, so you might just want to check out the project itself. There‘s instructions to get you started with development in the CONTRIBUTING.md file.

Fo

[2019-04-26 09:39] #37 closed, assigned to nobody

[2019-04-26 09:52] steven-joruk commented on #37
Sorry, I didn't make it clear in my original post - I already have a fairly complex project file which I can't replicate using SwiftPM and a custom xcconfig. I don't think Swift is able to integrate well with existing Xcode projects, and the articles you linked are for creating a new project, which makes Accio seem like a good fit for my use case.

[2019-04-26 10:35] Jeehut commented on #37
In that case, I will need further explanation of your goal here, especially including the following:

- Your Package.swift file contents
- The last 10-20 lines of Accios output

[2019-04-29 13:57] Rion-Kaneshiro opened #38 "Unable to install Accio via brew"
I tried to install Accio on my company Mac and stumbled upon an issue installing it.

I‘m not quite sure if it relates to Accio directly, though.

Current configuration:

- macOS Mojave 10.14.4 (18E226)
- Xcode 10.2.1 (freshly installed from the App Store)
- Fresh installation of brew
- Swift 5.0.1 (swiftlang-1001.0.82.4 clang-1001.0.46.5)

Running `brew install accio` results in:

[code]

[2019-04-29 14:21] Jeehut commented on #38
@Rion-Kaneshiro Thank you for reporting the issue. I tried freshly reinstalling Accio on my machine and it worked, so I can't reproduce the error. Maybe [this solution](https://stackoverflow.com/a/55440343) to a similar problem on SO fixes this?

[2019-04-29 20:34] yvbeek opened #39 "Integrate Swift library with mixed dependencies"
Thank you for your work on Accio!

I'm considering adding Accio support to [Telegraph](https://github.com/Building42/Telegraph), but I have a few questions.

1. Telegraph itself is 100% Swift, but it has dependencies that contain Objective-C and C. Will I be able to use Accio for Telegraph?

2. Should the dependent projects (HTTPParserC and CocoaAsyncSocket) also have a Package.swift file?

3. Tel

[2019-04-30 07:01] andreas-braun-parship commented on #38
@Dschee After a very long reinstallation of Xcode and your proposed solution, it finally installed :)
Seems like the problem has to do with having multiple instances of Xcode installed, like the Beta for example.

Thanks for the help :)

[2019-04-30 07:46] Rion-Kaneshiro commented on #38
@Dschee After a very long reinstallation of Xcode and your proposed solution, it finally installed :) Seems like the problem has to do with having multiple instances of Xcode installed, like the Beta for example.
Thanks for the help :)

[2019-04-30 08:57] Jeehut commented on #38
Great to hear that! Closing this then.

[2019-04-30 08:57] #38 closed, assigned to nobody

[2019-04-30 09:20] Jeehut commented on #39
Hi @Zyphrax and thank you for considering to add Accio support to Telegraph.

1. Yes, if your dependencies can be built with Carthage (which they can), then they can also be built with Accio. It's as easy as that since Accio is using Carthage for the build task internally. For more information, read the "A practical Approach for fast Adoption" section in my blog post about Accio [here](https://med

[2019-04-30 09:20] #39 closed, assigned to nobody

[2019-05-03 16:08] fredpi opened #41 "Use FileManager for file operations"
An idea originating from #40 is to use `FileManager` for file operations instead of using commands like

• `try! bash("mkdir '\(path)'")`
• `try! bash("rm -rf '\(path)'")`

I benchmarked the `rm -rf` command against `FileManager.default.removeItem(atPath:)` and noticed that for folders only containing a few files `FileManager.default.removeItem(atPath:)` is  roughly 2 times faster than `rm -rf` (_

[2019-05-04 12:08] Jeehut commented on #41
I see it the same way as you do, but I'd give performance the higher priority here if the difference is considerable enough (meaning at least 15% faster). As I read your analysis, the more files there are, the bigger the performance gain is with `rm -rf`, so I'd opt for keeping it that way for now. But I wonder where the performance gain comes from – maybe we can replicate the same behavior `rm -r

[2019-05-04 12:24] mrylmz commented on #41
It could be that swift is performing some safety checks at runtime but we could have a look at the source of stdlib which will at least contain the linux version if it is bridged to NS libraries on macOS.

[2019-05-07 09:16] fredpi commented on #41
Source of the stdlib can be found [here](https://github.com/apple/swift-corelibs-foundation/blob/master/Foundation/FileManager%2BPOSIX.swift) (POSIX implementation).

Internally, `removeItem` calls `internal func _removeItem(atPath path: String, isURL: Bool, alreadyConfirmed: Bool = false)` (with `alreadyConfirmed = false`)

[2019-05-07 09:53] Jeehut commented on #5
@fredpi What is your opinion on my suggested design in https://github.com/JamitLabs/Accio/issues/5#issuecomment-479810415? I would happily review & merge a related PR – even if not all version requirement variants aren't implemented as long as this is documented well enough. Would you be up to a PR?

[2019-05-07 09:59] Jeehut commented on #16
@mrylmz Any progress on this issue? Feel free to create a [WIP] PR if you're not finished yet so I could continue on your work if needed.

[2019-05-07 11:43] mrylmz opened #42 "Add Firebase SDKs to AccioSupport"
It is really common that the firebase SDKs are used inside iOS Projects to improve the migration experience we could add Accio support for every Firebase Project targeting iOS.

[2019-05-07 12:37] Jeehut commented on #42
@mrylmz Sounds reasonable. Feel free to fork them to `AccioSupport` and post a PR with a text similar to [this](https://github.com/CosmicMind/Material/pull/1212) once they support Accio. You may also add them to the integration tests in the Demo project if you want, but that's optional.

[2019-05-07 22:38] fredpi commented on #5
@Dschee I was a bit hesitant replying as I was thinking about the general evolution of Accio and how it depends / should depend on Swift PM. What if Swift PM explicitly declines binary specifications, should Accio still support it?

I'd happily create a PR implementing binary specifications, yet I believe that we should first define in general what happens to an Accio feature implemented on top of

[2019-05-08 07:08] mrylmz commented on #5
It should be possible to resolve this issue once we are supporting `swift build` in Accio.

One possible solution would be to create an umbrella project with a modulemap and limit the configuration to only contain linkage information if it is possible (so that SwiftPM will not search for a System Library). Then we could lookup in a subfolder in the project like `./Binaries` for libraries and do so

[2019-05-08 13:25] Jeehut commented on #5
@fredpi While I always try to design things like they would be designed in SwiftPM to minimize the risk of having breaking changes on SwiftPM updates, Accio was also explicitly designed to fill the gaps where SwiftPM doesn't provide a solution. So if the feature was declined by the Swift community (for whatever reason) as long as having the feature improves dependency management for the community

[2019-05-08 14:40] mrylmz commented on #5
Well my Idea was a work-around solution to rely on the current feature set of SwiftPM without adding a new `binary framework` feature.

The SwiftPM does already support building c-family language library targets. We could possibly use that feature to embed binary framework support by generating correct `module.modulemap` files and linking the framework manually while executing the `swift build` co

[2019-05-08 14:47] mrylmz commented on #5
You can have a look ok [this](https://github.com/ctreffs/CSDL2) for example. There is only a modulemap and the correct library headers.

The missing part here is the retrieval of the binary it self that is currently made manually by the developer using `brew` or another dependency manager.

[2019-05-09 04:04] Jeehut opened #43 "Performance improvments on re-runs without updates"
Currently, when the "install" command is run for a second time, all dependency resolution and framework copying is redone and takes quite some time. Instead, we could save a hash of the Package.resolved to the cache with a file named after the hash (e.g. abcd.json) which could contain the hashes of all the .framework and .dsym files required, including the commit hash and framework name (info need

[2019-05-09 04:13] Jeehut commented on #5
I've had a look into your linked example and as far as I understand, you have to install the library via Homebrew and then SwiftPM is only used for linking purposes, is that right? Also, the library can't simply provide binaries and links to them, but they also have to create weird modulemap files which we could try to automate, but is that going to be so easy, really? Also, how would this work wi

[2019-05-09 04:15] #27 closed, assigned to nobody

[2019-05-10 13:31] AlexisQapa opened #45 "Integration with XcodeGen"
Hi,

I'm using XcodeGen to manage my Xcode project and Carthage for dependencies. I'm trying to reduce my CI builds time with some cache but I don't want to introduce Rome.
I like your approach targeting SPM for the long run. So I'll be soon looking at a solution to integrate XcodeGen and Accio. I saw you have commands related to the .xcproject file do you think the two tools are complementary or

[2019-05-13 08:20] Jeehut commented on #45
@AlexisQapa Thank you for considering to use Accio in your setup. I have never used XcodeGen though and as far as I can tell from having a cursory look to its README, I think it might not work as expected right out of the batch since Accio is actually modifying an existing Xcode project file. If there is none, then there's nothing to modify. But if the developers always generate the project file f

[2019-05-13 08:49] AlexisQapa commented on #45
Carthage integration in Xcodegen simply link already built dependencies to the right target and make a copy phase. I think that resolving packages and building them would be sufficient for a first step. You right, the only thing needed for now on the Accio part is disabling Xcode integration. As of curiosity what modifications do Accio to the Xcode project ?

[2019-05-13 09:23] AlexisQapa opened #46 "Mint support"
Mint is package manager targeting command line tools written in swift. https://github.com/yonaskolb/Mint. Adding support should not be difficult I think and this tools is quite convenient compared to brew to manage those kind of tools.

[2019-05-13 11:21] Jeehut commented on #46
Accio is a SwiftPM-based command line tool. Therefore it should automatically work with Mint out of the box. Back then when I first developed Accio, it wasn't compatible due to SwiftSyntax not linking correctly. But since Swift 5 linking has changed and it should work, I guess. Did you try?

One thing we could do is to document the support in the README. Feel free to post a PR for that! ;)

[2019-05-13 11:23] Jeehut commented on #45
You can read more about what Accio is doing in Xcode in [this article](https://medium.com/@Dschee/accio-swiftpm-for-ios-co-today-ab4d19cefb74) also linked in the README. The related text starts with the words "Note how Accio automatically added ..." – feel free to search for them to get directly to your answer.

[2019-05-13 12:23] AlexisQapa commented on #46
Didn't had time to try but will definitely. I'll open a PR

[2019-05-15 08:11] MortenGregersen opened #47 "Can't build package dependent on package"
I've a swift package which depends on SwiftSyntax/libsyntax. When I use accio to use my swift package in an macOS app, it fails building my package. It seems that the error is when building with Carthage, where the files from SwiftSyntax is missing (see the attached log).

I've created a sample project, which is a macOS app with only my package as dependency. It can be found at https://github.com/

[2019-05-15 13:15] Jeehut commented on #47
Hi @MortenGregersen, thank you for reporting this. From what I can see you seem not to have made a mistake. Please note that I already had several different problems with SwiftSyntax in different contexts (one of which being it couldn't be correctly linked with even with SwiftPM directly, see [this ticket](https://github.com/yonaskolb/Mint/issues/120)), so SwiftSyntax seems to be a special case wh

[2019-05-18 01:40] acecilia opened #48 "Is it possible to choose if the generated framework for a dependency is static or dynamic?"
Hi :)

Just discovered Accio, sounds very promising.
My question is: is it possible to choose which kind of framework to generate for a dependency, dynamic or static?

Let me add some context to the question. Recently, there is an ongoing conversation in the community about which are better: dynamic or static frameworks (see for example https://github.com/ReactiveX/RxSwift/pull/1960). Seems like s

[2019-05-18 07:18] Jeehut commented on #48
Short answer: Nope, currently this is not supported.

And actually, I wasn't aware of the fact that the framework authors could decide to make a library static using Carthage, I always thought it's always dynamic. If there's an easy way of altering an Xcode project to produce a static framework rather than a dynamic framework, we could definitely add this feature into Accio though. We are already

[2019-05-19 00:00] acecilia commented on #48
Yes. I will look into it as soon as I find some time :)

Short answer:
* SPM (seems like) already allows the consumer to select dynamic or static linking. This means that maybe we do not even need to add an option to Accio to select the framework type, as such information may already be in the `Package.swift` file.
* In order to generate a static framework with Carthage, the only thing to do is se

[2019-05-20 23:18] acecilia opened #51 "Accio attempts to build the same dependency multiple times"
Hi,

When I set `RxCocoa` as a dependency (version 5.0.1) I see that Accio attempts to build `RxSwift` twice. From the logs:

[code]

Seems like this is because `RxCocoa` depends on `RxSwift` and `RxRelay`, and `RxRelay` depends on `RxSwift`. Is this intended behaviour? Shouldn't Accio, after dependency resolution, only attempt to build the necessary dependencies once?

Thanks,
Andres

[2019-05-21 08:07] fredpi commented on #51
Thanks for reporting this 👍 I was able to reconstruct this, and actually, Accio doesn't detect if a framework is required by multiple frameworks. This can probably be easily fixed by using a `Set` here:

https://github.com/JamitLabs/Accio/blob/42a8139fde98d7b2ccd67e0b7e665bb762974ae5/Sources/AccioKit/Services/CachedBuilderService.swift#L15

[2019-05-21 09:16] #46 closed, assigned to nobody

[2019-05-22 07:33] mrylmz commented on #47
Hi @MortenGregersen there is some additional work described in the readme of swift syntax which has to be done prior to using SwiftPM to build the project. Could it be possible that this phase is missing when it is build with Accio or Carthage directly?

[2019-05-23 16:16] andrewtheis commented on #48
Carthage also supports downloading prebuilt static frameworks (these are built in Objective-C, as Swift will not support static frameworks until module stability in 5.1). For example a Cartfile can declare:
[code]

In the JSON file you see a list of prebuilt frameworks for each version:

[code]

Carthage just downloads these frameworks for you. They do not need to be added to the Carthage Copy Fra

[2019-05-24 14:41] acecilia commented on #48
@andrewtheis Swift static frameworks are already supported. From [here](https://github.com/Carthage/Carthage#build-static-frameworks-to-speed-up-your-apps-launch-times): `Since version 0.30.0 Carthage project rolls out support for statically linked frameworks written in Swift or Objective-C`

From what I researched so far, you are right, SPM does not support specifying if the produced framework sh

[2019-05-24 15:30] mrylmz commented on #48
Maybe we have to check the part for `copy frameworks` build phase to fully support the statically linked frameworks with carthage. The only investigation we have to do is configuring the static linkage of the libraries correctly inside the project

Adding support to SPM based project could possibly be more difficult.

[2019-05-28 05:19] pynixwang opened #52 "install error"
[code]

[code]

[2019-05-28 05:43] pynixwang commented on #52
[code]

mint also not work.

[2019-05-28 17:11] fredpi commented on #52
Hi @pynixwang, thanks for reporting this 👍

I just tried, but couldn't easily reconstruct these issues on my machine right away. Just to make sure, do you have Xcode 10.2 installed and do the Command Line Tools use it? (The latter can be configured in Xcode Preferences → Locations)

[2019-06-11 12:40] Jeehut commented on #51
It's correct that this is the case and I never thought this would be a problem since there's always at least a local caching in place which will skip the rendering. I just didn't go the extra mile since I didn't see much benefit in it, but you guys seem to do, so let me review #53 and merge it. Thanks, @fredpi!

[2019-06-11 12:51] Jeehut commented on #48
So, how would the consumer of a package specify if it is integrated as a static or dynamic framework? I didn't quite get this from the above comments ... other than that, it reads like we could support this. Is anyone up to implement it?

[2019-06-11 12:53] Jeehut commented on #52
Is this still happening? Did you check your Swift version (`swift version`), Mint version and Homebrew versions? Also, what version of macOS are you running?

[2019-06-11 14:14] #52 closed, assigned to nobody

[2019-06-11 19:07] acecilia commented on #48
@Dschee I think there is no final decision on this yet. For now, what seems to be the main proposal is to introduce an `accio.yml`/`accio.swift` configuration file

EDIT: I just created https://github.com/JamitLabs/Accio/issues/54 in order to look into this

[2019-06-11 20:27] acecilia opened #54 "Implement a way of passing additional configuration to Accio"
I made this issue to discuss the possibility and implementation of a way of passing additional configuration to Accio, when such configuration does not fit in the `Package.swift` file.

There has been already some discussions about this [here](https://github.com/JamitLabs/Accio/issues/48#issuecomment-495659568) and [here](https://github.com/JamitLabs/Accio/pull/50#issuecomment-494890942)

[2019-06-12 04:40] Jeehut commented on #54
I don't mean this to be a final decision, but [here](https://github.com/JamitLabs/Accio/issues/5#issuecomment-479810415) I suggested using comments within the Package.swift file itself following the style of the Package manifest format. This also should come with a pitch on the Swift forums if it makes any sense to also introduce the same functionality to SwiftPM so we could simply uncomment the c

[2019-06-17 17:36] fredpi opened #56 "Building via Carthage may result in misleading output"
**Configuration**

The `Package.swift` of a project includes dependency `A`. `A` itself has its `Package.swift` declared, requiring subdependency `B`. `A` is also Carthage-compatible, meaning it has a `Cartfile` referencing `B`.

**Issue**

Accio is smart, so it will build `B` before building `A`. Now, if `A` is built via Carthage, Accio will also copy the build result of `B` into the `Carthage/Bu

[2019-06-17 19:19] fredpi opened #58 "Issues with SwiftEntryKit"
**Issue**

In one of our projects, we use the [SwiftEntryKit dependency](https://github.com/huri000/SwiftEntryKit). With the current version of Accio (0.6.1), building it doesn't work, but strangely it works with version 0.6.0.

**Reason**

The commit that broke things for this dependency is https://github.com/JamitLabs/Accio/commit/779e3fc449863c88e32a90cfcf340d535829bedb. This commit is actually

[2019-06-17 20:14] MortenGregersen commented on #47
This is maybe why I can't get it to work. I'm closing this issue, as I won't be using Accio for my project, and can't help more investigating the issue.

[2019-06-17 20:14] #47 closed, assigned to nobody

[2019-06-18 06:47] Jeehut commented on #58
This sounds to me like SwiftEntryKit doesn't support Carthage properly. When a Demo project is included, then how is this supposed to be correct? Thus, the correct fix would be to implement the Carthage support on SwiftEntryKit properly by providing an Xcode file with shared schemes somewhere outside of a "Demo" or "Example" folder IMO.

[2019-06-18 07:54] fredpi commented on #58
You're re right, this is probably a singular issue instead of a common configuration. I will request a fix on SwiftEntryKit's side and close this.

[2019-06-18 07:54] #58 closed, assigned to nobody

[2019-06-18 20:25] #56 closed, assigned to nobody

[2019-06-19 06:12] #51 closed, assigned to nobody

[2019-06-24 10:58] Jeehut commented on #16
@mrylmz ping :)

[2019-06-24 19:33] mrylmz commented on #16
Its been a while since my last progress now... feel free to continue the work on the branch `work/16-support-command`

[2019-07-01 19:04] fredpi opened #61 "Cache mixes up different Swift versions"
When caching frameworks, Accio differentiates between different Swift versions, so that a user having set `Xcode 10.2.1`  as their command line tools won't get cached frameworks originating from a user that has `Xcode 11` set as their command line tools. That's needed, as otherwise, Xcode would complain that the frameworks have been built with Swift 5.1, while the user is still running Xcode 10.2.

[2019-07-01 19:58] Jeehut commented on #61
Absolutely correct. Would you mind fixing it? :)

[2019-07-01 20:11] fredpi commented on #61
Will fix it with pleasure ;)

[2019-07-01 21:38] fredpi opened #63 "Rebuild dependencies when Swift version changed"
#60 introduced a bug that causes dependencies not to be rebuilt or downloaded from cache although the Swift version changed.

To fix this, the Swift versions in the cached manifest should be parsed and compared against the current Swift version. If there's a difference, Accio shouldn't return saying `Found all required build products specified in resolved manifest in cache – skipping checkout & in

[2019-07-01 21:44] fredpi opened #64 "Leverage Swift 5.1 module stability"
An idea originating from #62, if the Swift version, let it be `v`, is greater than `5.1` (the Swift version where module stability is introduced), the cache should also be looked up for versions built with a version `w`, `v ≥  w ≥ 5.1`. If a cached build product with version `w` is found, then it can be used, even with Swift version `v`.

[2019-07-02 10:30] Jeehut commented on #63
Are you sure that we have this bug? Cause in [this line](https://github.com/JamitLabs/Accio/pull/60/files#diff-6979af11bb30b3715d00918dd0526360R133) there is an early return in case that any of the required frameworks is not cached yet and given that we use the current Swift version [here](https://github.com/JamitLabs/Accio/pull/60/files#diff-6979af11bb30b3715d00918dd0526360R97) when building the

[2019-07-02 10:45] Jeehut commented on #64
I haven't tested that, but given this actually works with dynamic frameworks I think we could support this feature with an option at first. My reasoning is that although ABI stability is a given now, we still don't know how things go in practical terms and especially given that some frameworks might opt for adding some new features only for newer Swift versions, we might miss out on supporting the

[2019-07-02 11:32] fredpi commented on #64
@Dschee Not enabling this by default totally makes sense to me, but I'm uncertain whether anyone would actually use a flag with the `install` / `update` command that manually enables such a behaviour... Therefore, this is probably not worth implementing at all, is it?

[2019-07-02 11:41] Jeehut commented on #64
I think given Apple was quicker than expected with integrating SwiftPM into Xcode renders many features "not worth implementing", including this. We shall have to play around a little more with the given inclusion into Xcode and from that drive a new direction for Accio to go. I feel like there's still space for Accio here to provide a bridge between now and the time all frameworks properly suppor

[2019-07-02 15:43] fredpi commented on #63
@Dschee I'm also experiencing this when running Accio with the changes from #62, so it's not solved via that PR.

I looked up the code and found the issue. It is with the `cacheFileSubPath` of `CachedFrameworkProduct`, implemented as follows:

[code]

As the `swiftVersion` is actually stored in the Manifest json, it's this cached Swift version that is used to copy the framework and check for the e

[2019-07-03 08:36] mrylmz opened #66 "Dependencies cannot be resolved when the target is in the same Package.swift"
I have an issue where i try to add a local library product as dependency to the main target.
It seems that we are looking into the dependencies of the Package.swift file but for local targets there won't be an entry in dependencies so this always fails to resolve.

`DependencyGraph: Could not find library product with name 'Target' in package manifest for project 'ProjectName'.`

[2019-07-03 08:51] mrylmz opened #67 "Accio is resetting the project it self when using local dependencies"
When we add a local dependency `.package(path: "path/to/subfolder")` accio is resetting on the checkout phase the repository it self.

[2019-07-04 09:56] Jeehut commented on #66
Could you please provide a complete `Pakcage.swift` contents so we can better understand the issue?

[2019-07-04 10:15] #61 closed, assigned to fredpi

[2019-07-04 10:37] #63 closed, assigned to fredpi

[2019-07-10 12:15] mrylmz opened #69 "Missing CFBundleVersion in Info.plist of frameworks"
If framework dependencies are build by generating a Xcode project with the swift package manager, then the CFBundleVersion key will not be set which causes app store distribution problems.

[2019-07-10 16:22] tin4g opened #71 "Unable to successfully compile the sample project"
##

[code]

## Procedure

1. Create the sample project

[code]

2. Add Alamofire as dependency

[code]

3. Generate the Xcode project

[code]

4. Initialize Accio

[code]

5. Install or update using Accio

[code]

**Solutions:**

[code]

OR

[code]

6. Install or update using Accio again

[code]

**Wanted**

1. Where can I find the SwiftDemo.Framework?
(Or does the swift command line not support c

[2019-07-11 11:27] Jeehut commented on #71
I think there's a general misunderstanding here. You are using Accio to handle your dependencies in a SwiftPM project. But actually, SwiftPM can do that already, there's no need to manage dependencies with Accio in SwiftPM projects. That's what SwiftPM already aims to do.

Accio is for apps targeting iOS, tvOS, macOS or watchOS to include dependencies that support either SwiftPM or Carthage. So al

[2019-07-11 15:52] tin4g commented on #71
Sorry, I misunderstood. Anyway, thank you.
And I temporarily solved my problem with xcodebuild.

[2019-07-11 15:52] #71 closed, assigned to nobody

[2019-07-12 09:10] SentulAsia commented on #66
I have similar problem @Dschee:
[code]

[2019-07-12 10:30] #69 closed, assigned to nobody

[2019-07-22 04:16] yoiang opened #72 "No dependencies specified for target ..."
Hello!
I'm excited to use Accio and I've started converting a project over to using SwiftPM's `Package.swift` to be able to.

However one of the dependencies of the project can't be resolved automatically (it doesn't use default folder structure, has targets using overlapping source...). I've tried creating a simple `Package.swift` to specify custom source folders (and only support one target 🙄) b

[2019-07-22 09:05] Jeehut commented on #72
@yoiang Hey, thanks for asking the question. Sure, I will try to help you, although usually such questions should be asked on sites like StackOverflow (where it's easier for people to find the answer later) – but here's also okay.

To understand the problem at hand, let me differentiate between two different kinds of `Package.swift` manifest files: App Manifest (AM) files and Dependency Manifest (

[2019-07-22 15:03] yoiang commented on #72
It does! It means I was creating the DM `Package.swift` correctly (now pushed into https://github.com/Adorkable/Eunomia/tree/feature/SwiftPM), I was receiving this error running Accio in the dependency root to validate it's format locally before pushing it but I guess SwiftPM/Accio _install_ isn't really the right method. Is there a method for testing/linting a DM `Package.swift` locally?

However

[2019-07-22 19:05] yoiang commented on #72
I figured it out, unknown to me some tool added *.xcodeproj to the .gitignore therefore my project was missing its contents. Thanks for your help!

[2019-07-22 19:05] #72 closed, assigned to nobody

[2019-07-25 16:46] yoiang commented on #66
@SentulAsia can you clarify where the problem is occurring for you, or what the error output looks like?

For me the `Package.swift` looks like:
[code]

The resulting error I get is:

[code]

[2019-07-31 07:38] phimage commented on #66
I have the same issue with accio on accio or other command line project
It just a matter of targets order. Declare a target after its dependencies (more machine than humain order)

To check it (not to fix it) just edit your targets order in Package.swift or edit accio line
https://github.com/JamitLabs/Accio/blob/stable/Sources/AccioKit/Commands/Protocols/DependencyInstaller.swift#L72
with
[code]

[2019-07-31 09:17] phimage opened #73 "Error: The file “Info.plist” couldn’t be opened"
I have an issue with #69, #70
in added `verifyBundleVersion` function
I have `plistURL` value "file:///XXXX/Dependencies/macOS/Result.framework/Info.plist"
and there is no "Info.plist" at all here so reading the file launch an error

I have one into  "file:///XXXX/Dependencies/macOS/Result.framework/Versions/A/Resources/Info.plist"

only have symbolic link and Versions
[code]

The framework has be

[2019-07-31 13:05] phimage commented on #66
I have same issues with accio on accio, or on https://github.com/IBDecodable/IBGraph/blob/master/Package.swift
(xcode 10.3, carthage 0.33.0)

I do not know how normally this could work but I try to make something
by excluding local package dependencies
But I do not thinks it is the solution, because target name could be different from product name

https://github.com/JamitLabs/Accio/compare/stable

[2019-08-05 09:09] Jeehut commented on #73
@mrylmz Do you know more about this? Sounds like it has to do with something we talked about recently ...

[2019-08-17 20:58] tcurdt opened #76 "accio fails to install dependencies"
I thought I give `accio` a try for a macOS project. I've created a simple `Package.swift` file:

[code]

When trying to build the dependency
[code]

Running `xcodebuild` myself it builds just fine.
[code]

Now I am wondering how to track this down. Is this a `Carthage` issue? Any pointers?

I am using:

[code]

[2019-08-18 10:12] acecilia commented on #76
Seems like an error from Carthage: it can not find a shared scheme for the Mac platform. Seems like the shared scheme is only for the iOS platform. You can try two things:
- Specify the platform in your Manifest, configuring it only for iOS (see the readme of Accio for information about how to do that).
- If the previous step does not work, build it directly with Carthage in order to troubleshoot

[2019-08-18 10:27] tcurdt commented on #76
I tried the specifying the platform like this but that didn't help
[code]

[code]
I guess debugging Carthage it is :-(

[2019-08-18 11:35] tcurdt commented on #76
Seems like the Xcode project isn't really setup to support macOS and iOS yet.

I guess Accio inherits the same pain from Carthage - having to bug project authors to fix their Xcode projects. I guess cocoapods conveniently hides that :-/

I guess I can close this here.

[2019-08-18 11:45] acecilia commented on #76
You should be able to add the Mac platform to the supported platforms, in the Xcode project of ‘ASN1Decoder’. You can look at how RxSwift has done the setup, and do it similarly. Good luck! ;P

[2019-08-18 11:59] tcurdt commented on #76
Yes, but I either need to fork it or have the author merge it. Always a hassle. Not the first time ;)

[2019-08-18 18:55] tcurdt commented on #76
This was fixed faster than expected :)
[code]
...but what is the error about the `Info.plist` about, @acecilia ?

[2019-08-18 22:39] tcurdt commented on #76
Maybe that's related to https://github.com/JamitLabs/Accio/issues/73 ?
[code]

[2019-08-18 22:40] tcurdt commented on #76
Also: Shouldn't `accio` make changes in the xcode project? I don't see any references yet.

[2019-08-18 22:51] tcurdt commented on #76
Just noticed there is a "Dependency" group - but it's empty.

[2019-08-19 07:58] tcurdt commented on #76
After some digging I found that the following should come next - but isn't.
So `accio` is apparently aborting the integration just before.

[code]

[2019-08-19 08:05] tcurdt commented on #76
Checking https://github.com/JamitLabs/Accio/blob/a308c68c842f9c2bf21ee23f430b8494e6e2919c/Tests/AccioKitTests/Services/XcodeProjectIntegrationServiceTests.swift it seems like there is the expectation of  a plist at `\(frameworkName).framework/Info.plist`. I don't understand why yet.

[2019-08-19 08:12] tcurdt commented on #76
I've tried to manually work around this by copying

`cp Dependencies/macOS/ASN1Decoder.framework/Resources/Info.plist Dependencies/macOS/ASN1Decoder.framework`

but the file disappears when calling `accio install/update`

[2019-08-19 08:21] tcurdt commented on #76
Just tried with only `Alamofire` as dependency (as that seems to be one of the references in the tests). Fails with the same error. So it's not related to the `ASN1Decoder`.

[code]

Is there a special requirement for the project layout? I've used the default Xcode layout.

[2019-08-19 10:39] tcurdt commented on #76
Any suggestions, @acecilia? I am a little stuck for the moment.

[2019-08-20 05:47] Jeehut commented on #76
@tcurdt What version of Xcode and Swift (`swift -version`) are you using? Also, which macOS version are you running?

Regarding Info.plist issues, I think @mrylmz could know more to help you out.

[2019-08-20 07:40] tcurdt commented on #76
[code]

[2019-08-20 08:34] tcurdt commented on #76
@mrylmz if you have an idea that would be great. Let me know if you need any more details.

[2019-08-22 12:16] tcurdt commented on #76
Guys, any pointers?
Right now this is a bit of a blocker for using `accio` - which is a shame.
What are the requirements for the `Info.plist`?
Looking at the code I don't understand the error yet.

[2019-08-22 13:02] Jeehut commented on #76
As far as I can remember, the issue was the other way around: There were issues with _existing_ Info.plist files and we just tried to fix them somehow. But @mrylmz implemented it if i remember correctly, so he knows the details. But feel free to make a PR which simply drops the requirement of the existence of the Info.plist and post a PR. If it fixes your issue without opening up new ones, I'd hap

[2019-08-22 13:42] tcurdt commented on #76
Thanks for reply @Dschee. I'd be happy to help out and make a PR but at the moment I don't feel like I have the full picture yet.

It seems like this issue and #73 suggest that the added `verifyBundleVersion` in #70 is at fault.
Of course we could just remove that check. That might fix it for us. But I am sure there was a reason it was added and I don't fully grasp that one yet.

One path of actio

[2019-08-22 23:25] mrylmz commented on #73
Making the Bundle verification optional could be a short term solution here, the carthage builds should always include the correct bundle version for deployment. For a reasonable stable solution we should investigate some time in inspecting the framework specification from apple.

[2019-08-22 23:33] mrylmz commented on #76
The introduction of the bundle version verification was to include a bundle version into it when it was missing, because the app store deployment get rejected without a version.

We could fallback to a solution where we print a warning if there is no Info.plist found inside the framework and suggest to submit an issue with the framework which was causing that problem.

@tcurdt if you bypass the ve

[2019-08-23 00:08] tcurdt commented on #76
Thanks for the input @mrylmz

Right now I have the feeling that `accio` just looks in the wrong place.

In the code I found

`\(frameworkName).framework/Info.plist`

but to me it looks like it rather should be

`\(frameworkName).framework/Resources/Info.plist`

I am not aware of `Info.plist` files at the root of framework bundles.

https://developer.apple.com/library/archive/documentation/MacOSX/C

[2019-09-01 05:30] #73 closed, assigned to nobody

[2019-09-10 11:44] fredpi opened #79 "Accio isn't compatible with certain Package.swift formats"
Just recently, [Nimble](https://github.com/Quick/Nimble) released a new version that references a framework with the following `Package.swift`: https://github.com/mattgallagher/CwlPreconditionTesting/blob/master/Package.swift

It contains the following: (Note the use of `.target(name: "CwlMachBadInstructionHandler")` instead of just `"CwlMachBadInstructionHandler"`)

[code]

that results in the fo

[2019-09-10 12:24] fredpi commented on #76
As #77 is merged, I guess this can be closed now.

[2019-09-10 12:24] #76 closed, assigned to nobody

[2019-09-11 04:50] #79 closed, assigned to fredpi

[2019-09-19 06:29] Jeehut opened #81 "Add new "Xcode 11 Supplement" mode & Version 1.0.0"
Since Apple has introduced SwiftPM as part of Xcode 11 even for iOS projects, which was always what we wanted and Accio was only introduced to fill the gap, we should embrace that. From the next major version of Accio onwards, we should treat using the built-in SwiftPM features in Xcode as a **first class citizen** and continue to use Accio for filling the gaps that are still apparent, like the mi

[2019-09-26 15:40] fredpi commented on #81
@Dschee I like the idea!

Regarding the 3 issues you mentioned:

This is also a problem with the current version of Accio, as we use the `Package.swift` for parsing dependencies, but build using Carthage... This causes issues with libraries like [Realm](https://github.com/Realm/realm-cocoa) that build fine with Swift PM and Carthage, but not via Accio. If we can specify what is included via Accio

[2019-09-26 16:17] fredpi commented on #69
@mrylmz Shouldn't we also introduce a similar handling for `CFBundleShortVersionString` in case it is missing? This key is also required for app store submissions...

[2019-11-01 19:03] pvcary opened #83 "Error installing Accio"
Hi there, I'm having an issue installing Accio. I'm getting this Validation Failed error after the brew install accio command:

"The listed users and repositories cannot be searched either because the resources do not exist or you do not have permission to view them."

 My homebrew version is current at 2.1.15. Please see the screenshot below:

<img width="1680" alt="Screen Shot 2019-11-01 at 1 58

[2019-11-06 05:34] Jeehut commented on #83
@pvcary Thanks for reporting this. Can you please provide more info about:

1. the version of macOS you are using
2. the version of yourXcode command line tools (`xcodebuild -version`)
3. the version of Swift (`swift -version`)

Thet would help fix the issue.

[2019-12-21 06:34] LucasVanDongen opened #84 "Pick a less generic name than `Dependencies` for your folder"
We've spent some time figuring out why my teammates didn't get the files that were in my `Dependencies` folder. Apparently the default `.gitignore` here on GitHub now has a specific entry for Accio which prevents anyone else from using a folder named `Dependencies` anywhere since it's now ignored. I am probably not the first person running into this.

As I'm not even a user of your tool I was tota

[2019-12-21 16:46] fredpi opened #85 "Error with dependencies with higher Swift tools version"
### The Setup

Let's assume I have a local setup with Swift version `5.0` and a remote framework that has a `1.1` release with a `Package.swift` that specifies a `swift-tools-version` ≤  `5.0` and a `1.2` release with a `swift-tools-version` > `5.0`.

### The Issue

If I reference the framework from my local machine running Swift `5.0` using the `upToNextMajor(from: "1.1")` specification, it won't

[2019-12-21 16:48] fredpi commented on #84
@LucasVanDongen Thanks for the suggestion – it sounds reasonable to change the folder name, but I'm thinking how we can do it without breaking apps that are already running Accio. Maybe still looking up the `Dependencies` folder as a fallback...

What do you think, @Jeehut?

[2020-01-13 07:04] Jeehut commented on #84
Sounds reasonable, but this change is breaking as people might have workflows (e.g. on CIs) that expect the files to be in the current directory, so it should only be included in a new major release.

[2020-01-14 11:39] acecilia commented on #84
What about introducing an option to change the default `Dependencies` folder name to a custom one? Then you could release such change anytime

[2020-01-20 22:05] fredpi commented on #84
@acecilia As a sidenote: Your configuration branch isn't merged yet, but as far as I can see, there's also no PR open (https://github.com/JamitLabs/Accio/pull/74 didn't merge into `stable`). What's the current status there?

Apart from that, I'm still in favor of not making this a configurable option as I don't see any issues with just changing the default to `AccioDependencies` while still lookin

[2020-01-21 06:25] Jeehut commented on #84
As I wrote in [my comment above](https://github.com/JamitLabs/Accio/issues/84#issuecomment-573533037), I just think we should include it in a new major release. I'm not against the renaming by any means. Actually, I plan to do a new major release for https://github.com/JamitLabs/Accio/issues/81 anyways, so we could just merge into `stable` and and wait until 1.0 is prepared with that feature (and

[2020-01-21 09:01] fredpi commented on #84
@Jeehut Considering that we may want to release minor fixes in the meantime, I would prefer not to merge this into `stable` until just before the new major release. I can create a PR that doesn't get merged until then – what about that?

[2020-01-21 09:05] fredpi commented on #64
Closing this as not worth implementing (see discussion above)

[2020-01-21 09:05] #64 closed, assigned to nobody

[2020-01-21 09:13] fredpi commented on #83
@pvcary I'm closing this as there are no other reports of this issue and without further information I don't have any idea how to fix this. Feel free to open this again if this issue still persists for you and if you can provide more information on the versions you're using ;)

[2020-01-21 09:13] #83 closed, assigned to nobody

[2020-01-21 09:15] fredpi commented on #43
@Jeehut This can be closed, as you implemented it in #60, right?

[2020-01-21 10:18] #67 closed, assigned to fredpi

[2020-01-22 07:28] Jeehut commented on #43
Yes, I think so. I don't remember the details of #60 exactly, but it reads like it implements this. Let's close this for now and reopen in case we're proved wrong. 🎉

[2020-01-22 07:28] #43 closed, assigned to nobody

[2020-01-22 07:32] Jeehut commented on #84
Okay, agreed, makes sense. But let's create a `release/1.0.0` branch instead, I would suggest and merge all changes related to the next major release there. We just need to make sure to rebase that branch regularly when we make changes to the `stable` in the meantime.

[2020-01-23 23:59] jaerod95 opened #86 "Support shorthand Semantic Version Strings"
If a project that supports Swift Package Manager doesn't tag their releases using valid semantic versioning (major.minor.patch) then Accio can't find the tags and throws the following error:

[code]
An example was the library [ThirdPartyMailer](https://github.com/jaerod95/ThirdPartyMailer) which uses only major and minor versions.

Can we add support for parsing versions that might be missing a pa

[2020-01-26 21:27] acecilia commented on #84
@fredpi about the configuration branch, I did not continue working into it. So far we did not end up using Accio in my company, and I could not find time on my own to progress on it :/

[2020-01-27 10:28] Jeehut commented on #86
Thank you for reporting this issue. I'm not sure if we can fix it so easily, the only ways I can come up with are really weird workarounds. We'd probably need to fix this in SwiftPM directly. Or do you have any idea how we could fix this in Accio easily?

As a workaround, you might want to opt for specifying a branch or a specific commit hash instead.

[2020-03-20 00:35] devxoul opened #87 "$ accio install won't add build phase after re-generate Xcode project"
Hi, I'm using XcodeGen and would like to try Accio. I ran `$ accio install` after generating xcode project using `$ xcodegen generate` but it didn't add a build phase. You can easily reproduce it by deleting the build phase manually and run `$ accio install`.

## How to reproduce

1. Delete Accio build phase from Xcode.
2. Run `$ accio install`.

## Expected behavior

Accio adds the build phase.

[2020-03-20 00:45] devxoul commented on #87
https://github.com/JamitLabs/Accio/blob/0.6.5/Sources/AccioKit/Commands/InstallCommand.swift#L18-L21 seems to be too optimistic. It will also returns `true` on the next time after it fails to install but generates `Package.resolved` 🤔

**Package.swift**

[code]

[code]

[2020-04-17 07:33] Jeehut opened #88 "Deprecate Accio in favor of SwiftPM starting with Xcode 12?"
With the recent developments on Swift-Evolution, I feel like there will be no gap left to fill by Accio on the move to SwiftPM anymore starting with the release of Xcode 12 which will include Swift 5.3 where all of the changes are already implemented. Namely, these things will be added:

* [SE-0271: Package Manager Resources](https://github.com/apple/swift-evolution/blob/master/proposals/0271-pack

[2020-04-17 07:38] Jeehut commented on #87
@dexvoul I think we haven't thought about the usage of `xcodegen` before. You seem to have already found more or less why it's failing. Feel free to send a PR which fixes the issue for `xcodegen` users and we will happily review and merge that! :)

[2020-04-20 11:01] fredpi commented on #88
@Jeehut I agree with you – for projects that use Xcode 12, using SPM instead of Accio will be the better option (although the build caching features of Accio are something that will be missed).

I suggest to add this information to the README as soon as the Xcode 12 (Swift 5.3) Beta gets released.

[2020-05-15 04:25] lstomber opened #89 "Unable to integrate Accio to support simple clone and build in Xcode IDE"
I'm trying to figure out how to have a project that can be cloned, opened in Xcode, and run while integrating with accio.  What I have now is a build phase in my project that runs `accio install` to download and build all of the dependencies.  The problem that I am encountering is that Xcode stops the build because it detects a change in the project file.  This is because accio is touching this fi

[2020-05-17 08:16] fredpi commented on #89
Hi @lstomber,

thanks for bringing this up.

Unfortunately, Accio is designed not to be run from a run script phase within Xcode – I understand that this is annoying for you, but a better Xcode integration isn't feasible as far as I know (apart from creating a plugin, but that's another story): Putting a command like `accio install` in a run script phase would cause a dependency checkup on every b

[2020-05-17 08:16] #89 closed, assigned to nobody

[2020-06-05 11:14] PycKamil commented on #88
@fredpi there is [ongoing work on llbuild2](https://github.com/apple/swift-llbuild2) that will add caching features to SPM as well

[2020-06-18 01:40] kientux opened #90 "Accio checking for wrong output name when copy framework (Facebook iOS SDK)"
Facebook iOS SDK is compatible with SPM. I have this in accio `Package.swift`:

[code]

And this is the output of `accio install`:

[code]

Accio tries to copy `FacebookCore.framework` but this is actual content of `Carthage/Build/iOS`:

[code]

Is this a bug of Accio or FacebookSDK itself? Maybe accio is guessing the framework name from product name and failed?

[2020-06-25 06:52] FranklinYu commented on #88
SwiftPM only works when the dependency is actually a SwiftPM package; it requires upstream to have a `Package.swift` manifest. If I understand Accio correctly, it works with any repository with `.xcodeproj`, similar to Carthage?

Background: I’m trying out Xcode beta 12 with Swift 5.3.

[2020-06-25 07:50] Jeehut commented on #88
@FranklinYu Yes and no: Accio does actually require a `Package.swift` file as the checkout part is done via SwiftPM. But because SwiftPM didn't support resources and binaries until now (but it will starting with Xcode 12), we used Carthage for building the projects. Thus Accio was mixing SwiftPM & Carthage.

The next step for Accio could be to actually change its implementation without changing th

[2020-06-25 08:00] Jeehut commented on #90
@kientux Does Facebook iOS SDK support Carthage? If not, then Accio won't work with it as of now. Please also see the discussion in https://github.com/JamitLabs/Accio/issues/88, it might help you to understand where we stand at the moment, including how Accio works.

Maybe we might also have a bug in the filtering of the frameworks we need to copy though, I'm not sure. Don't have the time to check

[2020-06-26 02:39] FranklinYu commented on #88
@Jeehut To make sure: did you mean that Accio requires *dependencies* to also provide their own `Package.swift` manifests? I thought Accio is meant to be a drop-in replacement for all use-cases of Carthage. This statement:

So this “Carthage compatible projects” are talking about framework *authors*, not framework *consumers*?

[2020-06-29 06:34] Jeehut commented on #88
@FranklinYu

Yes, that's what "Accio does actually require a `Package.swift` file" means.

No, it's a separate dependency manager that utilizes Carthage & SwiftPM to fill some gaps and help the transition.

Not really, framework _consumers_ can also make any project compatible with Accio by simply adding a valid `Package.swift` file (there's examples in the README), it doesn't even have to include

[2020-09-10 10:56] falcowinkler opened #91 "Homebrew installation broken"
When installing accio as per the readme,
i get the following error, can anyone reproduce?

MacOS: 10.15.6
Xcode: 12 beta 6

[code]

[2020-09-25 20:11] Thurman1776- commented on #91
I ran into the same issue also using Xcode 12. Did you figure out the reason?

[2020-09-25 21:51] acecilia commented on #91
This project I think is not maintained anymore. I would use other package manager

[2020-10-07 15:47] fredpi commented on #5
Closing this, as [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:47] #5 closed, assigned to nobody

[2020-10-07 15:48] fredpi commented on #81
Closing this, as [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:48] #81 closed, assigned to nobody

[2020-10-07 15:48] fredpi commented on #14
Closing this, as [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:48] #14 closed, assigned to nobody

[2020-10-07 15:48] fredpi commented on #15
Closing this, as [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:48] #15 closed, assigned to nobody

[2020-10-07 15:49] fredpi commented on #16
Closing this, as [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:49] #16 closed, assigned to nobody

[2020-10-07 15:49] fredpi commented on #18
Closing this, as [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:49] #18 closed, assigned to nobody

[2020-10-07 15:49] fredpi commented on #30
Closing this, as [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:49] #30 closed, assigned to nobody

[2020-10-07 15:50] fredpi commented on #31
Closing this, as [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:50] #31 closed, assigned to nobody

[2020-10-07 15:50] fredpi commented on #32
Closing this, as [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:50] #32 closed, assigned to nobody

[2020-10-07 15:51] fredpi commented on #33
Closing this, as [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:51] #33 closed, assigned to nobody

[2020-10-07 15:51] fredpi commented on #41
Closing this, as [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:51] #41 closed, assigned to nobody

[2020-10-07 15:52] fredpi commented on #42
Closing this, as [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:52] #42 closed, assigned to nobody

[2020-10-07 15:52] fredpi commented on #45
Closing this, as [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:52] #45 closed, assigned to nobody

[2020-10-07 15:53] fredpi commented on #48
Closing this, as [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:53] #48 closed, assigned to nobody

[2020-10-07 15:53] fredpi commented on #54
Closing this, as [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:53] #54 closed, assigned to nobody

[2020-10-07 15:54] fredpi commented on #66
Closing this, as [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:54] #66 closed, assigned to nobody

[2020-10-07 15:55] fredpi commented on #84
Closing this, as [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:55] #84 closed, assigned to fredpi

[2020-10-07 15:55] fredpi commented on #85
Closing this, as [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:55] #85 closed, assigned to fredpi

[2020-10-07 15:56] fredpi commented on #86
Closing this, as [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:56] #86 closed, assigned to nobody

[2020-10-07 15:57] fredpi commented on #87
Closing this, as [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:57] #87 closed, assigned to nobody

[2020-10-07 15:58] fredpi commented on #88
Closing this, as the deprecation notice has been added to the README via [this PR](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:58] #88 closed, assigned to nobody

[2020-10-07 15:59] fredpi commented on #90
Closing this, as [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92).

[2020-10-07 15:59] #90 closed, assigned to nobody

[2020-10-07 16:02] fredpi commented on #91
@falcowinkler Sorry for my late response – although [Accio is now deprecated](https://github.com/JamitLabs/Accio/pull/92), Homebrew installation should still be possible to support existing projects.

I can reproduce the issue and will now try to fix it.

[2020-10-22 20:47] #91 closed, assigned to fredpi

[2020-10-22 21:06] fredpi commented on #91
The [0.6.6 release](https://github.com/JamitLabs/Accio/releases/tag/0.6.6) fixes this issue.

[2020-12-20 18:47] simonpoortman123 opened #94 "Koning Simon Poortman"

[2020-12-20 18:56] fredpi commented on #94
Spam user.

[2020-12-20 18:56] #94 closed

[2022-06-14 23:45] tahsin1364 opened #95 "[Deleted Spam Title]"
[Deleted Spam Body]

[2022-06-15 07:12] Jeehut commented on #95
Spam.

[2022-06-15 07:12] #95 closed, assigned to nobody